.service-header1{
 padding: 30px;
margin-top: 30px;
margin-left: 90px;
top: 0;
z-index: 100;
padding: 20px 0;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
}
.service-header1 h2{
font-family: "BOOWIE", sans-serif;
font-size: 3.5em;
color: #fff;
font-weight: 300;
margin-bottom: 0;
}
.service-header1 p{
font-family: "montserrat", sans-serif;
font-size: 1.2rem;
color: #fff;
font-weight: 300;
margin-top: 10px;
margin-bottom: 50px;
font-style: italic;
opacity: 0.8;
}

/* Large tablets and small laptops */
@media (max-width: 1024px) {
.service-header1 {
    margin-left: 60px;
    padding: 25px;
    text-align: center;
}
.service-header1 h2{
    font-size: 3rem;
}
.service-header1 p{
    font-size: 1.15rem;
    margin-bottom: 40px;
}
}

/* Tablets */
@media (max-width: 768px) {
.service-header1 h2{
    font-size: 2rem;
    font-weight: 400;
}
.service-header1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
}
.service-header1 p{
    font-size: 1.1rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
}

/* Small tablets */
@media (max-width: 640px) {
.service-header1 {
    padding: 20px;
    margin-top: 20px;
}
.service-header1 h2{
    font-size: 1.8rem;
    text-align: center;
}
.service-header1 p{
    font-size: 1rem;
    width: 95%;
    margin-bottom: 35px;
    text-align: center;
}
}

/* Mobile phones */
@media (max-width: 480px) {
.service-header1 {
    padding: 15px;
    margin-top: 15px;
}
.service-header1 h2{
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
}
.service-header1 p{
    font-size: 0.95rem;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    line-height: 1.5;
}
}

/* Extra small phones */
@media (max-width: 360px) {
.service-header1 {
    padding: 10px;
}
.service-header1 h2{
    font-size: 1.4rem;
}
.service-header1 p{
    font-size: 0.9rem;
    margin-bottom: 25px;
}
}